{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Ticker</th>
        <th scope="col">Last Price</th>
        <th scope="col">Change</th>
        <th scope="col">Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">AAPL</th>
        <td>100</td>
        <td>5%</td>
        <td>10000000</td>
      </tr>
      <tr>
        <th scope="row">META</th>
        <td>101</td>
        <td>1%</td>
        <td>10140002</td>
      </tr>
      <tr>
        <th scope="row">PTON</th>
        <td>106</td>
        <td>2%</td>
        <td>14300003</td>
      </tr>
      <tr>
        <th scope="row">ABC</th>
        <td>99</td>
        <td>4%</td>
        <td>1003200</td>
      </tr>
      <tr>
        <th scope="row">SNAP</th>
        <td>43</td>
        <td>4%</td>
        <td>2003200</td>
      </tr>
      <tr>
        <th scope="row">AMZN</th>
        <td>11</td>
        <td>4%</td>
        <td>1008732</td>
      </tr>
      <tr>
        <th scope="row">NIO</th>
        <td>43</td>
        <td>4%</td>
        <td>1000023421</td>
      </tr>
    </tbody>
  </table>

{% endblock %}